<div class="container">
    <div class="card p-4">
        <div class=" text-center card-title bg-dark text-light">
            <h1>{{title}}</h1>
        </div>
        <div class="card-body">
            <form [formGroup] = "myForm" (ngSubmit)="onSubmit(myForm)">
                <div *ngFor="let question of questions;let i = index">
                    <h5>{{i+1}}.{{question.question}}</h5>
                    <div class="form-check" [id]="question.q_id">
                        <input class="form-check-input" type="radio" [name]="question.q_id" value="option_a" (change)="onChange(i,$event)">
                        <label class="form-check-label" >{{question.option_a}}</label>
                    </div>
                    <div class="form-check" [id]="question.q_id">
                        <input class="form-check-input" type="radio" [name]="question.q_id" value="option_b" (change)="onChange(i,$event)">
                        <label class="form-check-label">{{question.option_b}}</label>
                    </div>
                    <div class="form-check" [id]="question.q_id">
                        <input class="form-check-input" type="radio" [name]="question.q_id" value="option_c" (change)="onChange(i,$event)">
                        <label class="form-check-label">{{question.option_c}}</label>
                    </div>
                    <div class="form-check" [id]="question.q_id">
                        <input class="form-check-input" type="radio" [name]="question.q_id" value="option_d" (change)="onChange(i,$event)">
                        <label class="form-check-label">{{question.option_d}}</label>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-block btn-success mt-4">
            </form>
        </div>
    </div>
</div>
