/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
html{
  height:100%;
  background:paleturquoise;
}

body{
  height:100%;
  font-family: 'Arvo', serif;
}
